name: .NET Core

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1
    - name: Setup .NET Core
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 3.1.100
    - name: Build with dotnet
      run: dotnet build --configuration Release
    - name: Upload artifact
      uses: actions/upload-artifact@v1.0.0
      with:
        path: /home/runner/work/DotnetThirdPartyNotices/DotnetThirdPartyNotices/src/DotnetThirdPartyNotices/bin/Release/
